
.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
}


img.nav_logo{
  width: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
}

.nav_link {
  float: right;
  display: block;
  color: black;
  padding: 5px 75px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px
}


.nav_link:hover {
  background: #ddd;
  color: black;
}


.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.bodytext{

  text-align: center;
  padding-top: 185px;
  padding-bottom: 48px;
  font-size: 85px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}

.fade-in{
  animation: fadeIn 4s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.Goals{
  text-align: center;
  background-color: #f9f9f9;
  padding: 160px 0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 1.5em;
}

.happy{
  text-align: center;
  background-color: #f9f9f9;
  padding: 160px 0;
}

.social{
  text-align: center;
  background-color: #f9f9f9;
  padding: 100px 0;

}
.pic_1{
  transform :rotate(90deg);
}
.pic_2{
  transform: rotate(0deg);
  margin-top:280px;
}
.pic_3{
  transform: rotate(-90deg);
  margin-top:280px;
}

hr.grid-2.center{
  width: 120px;
  border-top: 1px solid #555;

}

.fab{
  font-size: 75px;
  margin-bottom: 75px;
  color:#ee6557;
}
.about_me{
  text-align: center;
  background-color: #f9f9f9;
  padding: 160px 0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 1.5em;
}

.work{
  text-align: center;
  background-color: #f9f9f9;
  padding: 160px 0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 1.5em;
}

.paragraph{
  padding-top: 125px;
  background-color:
}

.sp1_paragraph{
  padding-bottom: 150px ;
  background-color: #7FB069;
  border: 1px solid;
  margin: 10%;
}
.sp2_paragraph{
  padding-bottom: 150px;
  background-color: #ee6557;
  border: 1px solid;
  margin: 10%;
}
.sp3_paragraph{
  padding-bottom: 150px;
  background-color: #769FB6;
  border: 1px solid;
  margin: 10%;
}


footer {
  padding-top: 125px;
  text-align: center;
  background-color: #ddd;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
